html {
  color: white;
  background-color: #030219;
  height: 100vh;
  width: 100vw;
  font-family: Arial, Helvetica, sans-serif;
}

.user {
  margin: 20px;
  padding: 10px;
}

.box1 {
  background-color: #222222;
  width: 500px;
  height: 400px;
  display: flex;
  margin: 0 auto;
}

.box2 {
  background-color: #4e4e4e;
  width: 400px;
  height: 140px;
  padding: 16px;
  text-align: left;
  border-radius: 4px;
  margin: auto;
}

.comment-tool {
  position: absolute;
  top: 30px;
  left: 50vw;
  background-color: #625df5;
  border-radius: 20px;
  width: 40px;
  height: 40px;
  margin: 0 auto;
}

.presence {
  position: absolute;
  right: 30px;
  top: 25px;
}

.toolbar {
  display: flex;
}

p {
  color: #d4d6df;
}
